@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bgColor: #ffffff;
    --bgColor2: #00c2c8;
    --accentColor: #000000;
    --font: 'Montserrat', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: radial-gradient(var(--bgColor) 0%, var(--bgColor2) 100%);
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; 
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 20px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    z-index: 0;
    overflow: hidden;
    transition: none 0s ease 0s;
    background-color: rgba(255, 255, 255, 0.442);
    border-radius: 30px;
    display: block;
    text-align: center;
    padding: 16px 20px;
    margin: 25px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 45px 0px rgba(70,230,209,1);
    box-shadow: rgba(0, 0, 0, 0.17) 7px 7px 10px 0px;
    backdrop-filter: blur(60px);

}
    

@media (hover: hover) {
    .link:hover {
        transform: translate(4px, 4px);
        box-shadow: rgba(0, 0, 0, 0.364) 7px 7px 10px 0px;
    }
    #profilePicture:hover{
           scale: 1.05;
    }
}

.link:active {
    transform: translate(4px, 4px);
}

.tag {
    position: relative;
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: 800;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--font);
    text-align: center;
 }
.typewrite{
    text-decoration: none;
    color: #000000;
}


/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}






